BAMBU_DEV_ID=(ID of your device)
BAMBU_DEV_IP=(IP address of your device)
BAMBU_ACCESS_CODE=(code from your device)

BAMBU_PLUGIN=/home/runner/.cache/obn-plugin-runner/02.08.02.54/libbambu_networking.so
BAMBU_CERT_DIR=/home/runner/bambu-certs
BAMBU_DATA_DIR=/home/runner/.local/share/bambu-bridge

BAMBU_HTTP_BIND=0.0.0.0
BAMBU_HTTP_PORT=8080
BAMBU_HTTP_TOKEN=(random, generate using `openssl rand -hex 32`)